.devis{

}

.devis_container{
	margin:0 auto;
	margin-top:8.6rem;
	padding-top:calc(var(--gridGutterWidth) * 4);
	

	@media (--tabletLarge) {
		padding-left:calc(var(--gridGutterWidth) * 2);
		padding-right:calc(var(--gridGutterWidth) * 2);
	}

	@media (--tabletSmall) {
	
	}

	@media (--mobileExtraLarge) {
		padding-top:calc(var(--gridGutterWidth) * 2);
		padding-left:calc(var(--gridGutterWidth) * 1);
		padding-right:calc(var(--gridGutterWidth) * 1);
	}

	@media (--mobileLarge) {
		
	}

	
}