.featurevideo{
	@mixin grid 11,11;
	margin:0 auto;
	padding-top:calc(var(--gridGutterWidth) * 6);
	padding-bottom:calc(var(--gridGutterWidth) * 0);

	@media (--gridPlus) {
		padding-left:calc(var(--gridGutterWidth) * 2);
		padding-right:calc(var(--gridGutterWidth) * 2);
	}

	@media (--tabletLarge) {
		padding-top:7.2rem;
	}

	@media (--tabletLarge) {
		
	}

	@media (--mobileExtraLarge) {
		
	}

	@media (--mobileLarge) {
		padding-left:calc(var(--gridGutterWidth) * 1);
		padding-right:calc(var(--gridGutterWidth) * 1);
	}
}

.featurevideo_container{
	
}

.featurevideo_title{
	text-align:center;
}	

.featurevideo_videocontainer{
	margin-top:7.5rem;

	@media (--tabletLarge) {
		margin-top:5.5rem;
	}
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}