.help{

}

.help_container{
	@mixin grid 7,6;
	margin:0 auto;
	text-align:center;
	padding-bottom:calc(var(--gridGutterWidth) * 4);

	@media (--tabletSmall) {
		@mixin grid 6,5;
	}
}

.help_title{
	margin-top:calc(var(--gridGutterWidth) * 3);
}

.help_subtitle{
	font-family: 'Fira Sans';
	margin-top:calc(var(--gridGutterWidth) * 0.5);

	@media (--mobileExtraLarge) {
		padding-left:calc(var(--gridGutterWidth) * 1);
		padding-right:calc(var(--gridGutterWidth) * 1);
	}
}

.help_sep{
	margin:0 auto;
	margin-top:calc(var(--gridGutterWidth) * 3);
}

.help_cta{
	margin-top:calc(var(--gridGutterWidth) * 1);
}