.hero{
	background:linear-gradient(to right, #181a2f 35%, var(--color1-800) 100%);
	padding-top:8.6rem;
	height:calc(100vh - 8.6rem);
	max-height:calc(768px+8.6rem);
	width:100%;
	position:relative;
	overflow: hidden;

	&:before{
		content:"";
		position:absolute;
		background: linear-gradient(to right, rgba(21, 28, 54, 1) 25%, transparent);
		width:100%;
		left:0;
		top:0;
		bottom:0;
		right:0;
		height:calc(100vh - 8.6rem);
		max-height:calc(768px+8.6rem);		
		z-index: 2;
		
	}

	&:after{
		content:"";
		position:absolute;
		width:100%;
		left:0;
		top:0;
		bottom:0;
		right:0;
		height:calc(100vh - 8.6rem);
		max-height:calc(768px+8.6rem);		
		background:linear-gradient(to right, transparent 50%, rgba(41, 69, 108, 0.5) 100%);		
		
	}

	&-radar{
		.hero_txt{
			margin-top:-10.6rem;
			@media (--mobileExtraLarge) {
				margin-top:0;
			}
		}		
		.hero_illu{
			right:0;
			margin-top:-5.5rem;
			z-index: 4;

			& > svg{
				width:460px;
				height:448px;
			}

			@media (--tabletLarge) {
				transform:translateX(20%);
				
			}

			@media (--tabletSmall) {
				transform:translateX(50%);
			}

			@media (--mobileExtraLarge) {
				display:none;
			}
		}
	}

	&-vague{
		&:before{
			background: linear-gradient(to right, rgba(21, 28, 54, 0.75) 15%, transparent);
		}
		.hero_illu{
			margin-top:-2rem;
			left:15rem;
			& > svg{
				width:1294px;
				height:532px;
			}

			@media (--tabletLarge) {
				transform:translateX(10%);
			}

			@media (--tabletSmall) {
				
			}

			@media (--mobileExtraLarge) {
				display:none;
			}
		}
	}

	@media (--mobileExtraLarge) {
		height:auto;
		padding-top:calc(var(--gridGutterWidth) * 6);
		padding-bottom:calc(var(--gridGutterWidth) * 4);

		&:before,&:after{
			
			height:auto;		
		}
	}
}

.hero_container{
	display:flex;
	height:100%;
	position:relative;
	align-items:center;
}

.hero_shadow{
	position:absolute;
	bottom:0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), ease-in, #000);
	height: 208px;
	width:100%;
	opacity:0.25;
	z-index: 3;
}

.hero_txt{
	@mixin grid 6,5;
	position: relative;
	z-index: 5;

	@media (--tabletLarge) {
		padding-left:2.4rem;
    }
	@media (--mobileExtraLarge) {
		padding-left:0;
    }
} 

.hero_title{
	color:var(--color1-100);
}

.hero_subtitle{
	color:var(--color1-100);
	margin-top:2rem;
	margin-bottom:3rem;
}

.hero_ctas{

}

.hero_cta{
	&:not(:last-of-type){
		margin-right:1.8rem;
	}

	@media (--mobileExtraLarge) {
		margin-bottom:2.4rem;
    }
}

.hero_illu{
	position:absolute;
	z-index: 1;
}