.livreblanc{
	@mixin grid 10,9;
	margin:0 auto;
	padding-top:14rem;

	@media (--tabletLarge) {
		padding-top:7.2rem;
	}

	@media (--tabletLarge) {
		padding-left:2.4rem;
		padding-right:2.4rem;
	}

	@media (--mobileExtraLarge) {
		padding-left:4.8rem;
		padding-right:4.8rem;
	}

	@media (--mobileLarge) {
		padding-left:calc(var(--gridGutterWidth) * 1);
		padding-right:calc(var(--gridGutterWidth) * 1);
	}
}

.livreblanc_container{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;

	@media (--tabletLarge) {
		justify-content:flex-start;
	}

	@media (--mobileExtraLarge) {
		flex-wrap:wrap;
	}
}

.livreblanc_image{
	@mixin grid 4,4;
	line-height:0;
	position: relative;

	@media (--tabletLarge) {
		@mixin grid 5,4;
		margin-right:var(--gridColWidth);
	}

	@media (--tabletSmall) {
		@mixin grid 2,2;
		margin-right:calc(var(--gridGutterWidth)*2);
	}

	@media (--mobileExtraLarge) {
		@mixin grid 3,3;
		margin-right:auto;
		margin-left:auto;
	}
}

.livreblanc_previewlink{
	position:absolute;
	right:44px;
	bottom:24px;
	
	@media (--tabletSmall) {
		right:auto;
		left: 50%;
		bottom:0;
	 	transform: translateX(-50%);
	}
}

.livreblanc_content{
	@mixin grid 5,5;

	@media (--tabletLarge) {
		@mixin grid 5,4;
	}

	@media (--tabletSmall) {
		@mixin grid 8,7;
	}

	@media (--mobileExtraLarge) {
		max-width: 100%;
		text-align:center;
	}
}

.livreblanc_title{
	margin-bottom:2.4rem;
	margin-top:4.8rem;
	font-family: 'Fira Sans Semibold';

	@media (--tabletSmall) {
		margin-top: 2.4rem;
	}

	@media (--mobileExtraLarge) {
		
	}
}

.livreblanc_desc{
	margin-bottom:2.4rem;	
}

.livreblanc_cta{
	margin-left: auto;
	margin-right: auto;
}

