.whoweare{
	@mixin grid 10,10;
	margin:0 auto;
	padding-top:calc(var(--gridGutterWidth) * 6);
	padding-bottom:calc(var(--gridGutterWidth) * 4);

	@media (--tabletLarge) {
		@mixin grid 12,12;
		padding-left:calc(var(--gridGutterWidth) * 2);
		padding-right:calc(var(--gridGutterWidth) * 2);
		padding-top:calc(var(--gridGutterWidth) * 5);
	}

	@media (--tabletSmall) {
		padding-top:calc(var(--gridGutterWidth) * 4);
	}

	@media (--mobileExtraLarge) {
		padding-left:calc(var(--gridGutterWidth) * 0);
		padding-right:calc(var(--gridGutterWidth) * 0);
	}

	@media (--mobileLarge) {
		
	}
}

.whoweare_container{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;

	@media (--tabletLarge) {
		justify-content:flex-start;
	}

	@media (--mobileExtraLarge) {
		flex-wrap:wrap;
	}
}

.whoweare_image{
	@mixin grid 4,4;
	line-height:0;

	@media (--tabletLarge) {
		@mixin grid 5,4;
		margin-right:var(--gridColWidth);
	}

	@media (--tabletSmall) {
		@mixin grid 2,2;
		margin-right:calc(var(--gridGutterWidth)*2);
	}

	@media (--mobileExtraLarge) {
		@mixin grid 3,3;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:calc(var(--gridGutterWidth)*2);
	}
}

.whoweare_content{
	@mixin grid 5,5;

	@media (--tabletLarge) {
		@mixin grid 5,4;
	}

	@media (--tabletSmall) {
		@mixin grid 8,7;
	}

	@media (--mobileExtraLarge) {
		max-width: 100%;
		text-align:center;
	}
}

.whoweare_title{
	margin-bottom:2.4rem;
	margin-top:2.4rem;
}

.whoweare_desc{
	margin-bottom:2.4rem;
}

.whoweare_cta{

}

.whoweare_sep{
	margin:0 auto;
	margin-top:calc(var(--gridGutterWidth) * 4);


	@media (--tabletLarge) {
		margin-top:calc(var(--gridGutterWidth) * 4);
	}

	@media (--tabletSmall) {

	}

	@media (--mobileExtraLarge) {
		display:none;
	}
}