.pageheader{

}

.pageheader_container{
	@mixin grid 7,6;
	margin:0 auto;
	text-align:center;
	margin-top:8.6rem;
	padding-top:calc(var(--gridGutterWidth) * 4);
	padding-bottom:calc(var(--gridGutterWidth) * 4);

	@media (--tabletLarge) {
		
		padding-left:calc(var(--gridGutterWidth) * 2);
		padding-right:calc(var(--gridGutterWidth) * 2);
	}

	@media (--tabletSmall) {
	
	}

	@media (--mobileExtraLarge) {
		
	}

	@media (--mobileLarge) {
		
	}
}

.pageheader_icon{
	& >  .icon {
		margin:0 auto;
	}
}

.pageheader_title{
	margin-top:calc(var(--gridGutterWidth) * 1);
}

.pageheader_subtitle{
	margin-top:calc(var(--gridGutterWidth) * 0.5);
}