.pagecontent{

}

.pagecontent_container{
	@mixin grid 8,7;
	padding-bottom:calc(var(--gridGutterWidth) * 4);

	@media (--tabletSmall) {
		@mixin grid 7,6;
	}
}

.pagecontent_container a {
	color:var(--color3-200);

	&:hover{
		color:var(--color3-300);
	}
}

.pagecontent_container ul{
	list-style:disc;
	list-style-position: inside;
	margin:calc(var(--gridGutterWidth) * 1) 0;
	padding-left:calc(var(--gridGutterWidth) * 1);
}