.arguments{
	margin-top:-10.6rem;
	position:relative;
	z-index: 4;
	
	@media (--tabletLarge) {
		padding-right:2.4rem;
		padding-left:2.4rem;
    }

	@media (--mobileExtraLarge) {
		margin-top:-6rem;
    }
}

.arguments_container{
	@mixin grid 10,11;
	margin-left:auto;
	margin-right:auto;
	border-radius: 19px;
	background-color: var(--color1-200);
	box-shadow: 0px 10px 30px rgba(85, 159, 207, 0.15);
	padding:4.4rem 2.4rem;

	@media (--tabletLarge) {
		max-width: 100%;
    }

	@media (--tabletSmall) {
		
    }

	@media (--mobileExtraLarge) {
		
    }

	@media (--mobileLarge) {
		padding:3.6rem 2.4rem;
    }

	
}

.arguments_cols{
	display:flex;
	justify-content:space-between;

	@media (--mobileExtraLarge) {
		justify-content: flex-start;
		flex-wrap:wrap;
    }
}

.arguments_col{	
	max-width:calc(50%-1.2rem);
	display:flex;
	position: relative;

	&:first-child{
		&:after{
			content:"";
			width:1px;
			height:100%;
			position:absolute;
			right:-2.4rem;
			background-color: var(--color1-400);
		}
	}

	@media (--mobileExtraLarge) {
		max-width:100%;

		&:first-child{
			margin-bottom:4.4rem;

			&:after{
				display:none;
			}
		}
    }
}

.arugments_col_icon{
	width:6.8rem;
	flex-shrink:0;
	display:flex;
	margin-top:0.4rem;
	justify-content:center;

	@media (--tabletLarge) {
		width:4.4rem;
    }

	@media (--mobileLarge) {
		width:3.6rem;
		justify-content:left;
    }
}

.arguments_col_content{

}

.arguments_col_title{
	margin-bottom:1.2rem;
}	

.arguments_col_desc{

}