.contactform{
	padding-bottom:calc(var(--gridGutterWidth) * 1);

	@media (--tabletLarge) {
		
	}

	@media (--tabletSmall) {
		padding-right:calc(var(--gridGutterWidth) * 2);
		padding-left:calc(var(--gridGutterWidth) * 2);
	}

	@media (--mobileLarge) {
		padding-right:calc(var(--gridGutterWidth) * 1);
		padding-left:calc(var(--gridGutterWidth) * 1);
	}

}

.contactform_container{
	@mixin grid 8,7;
	margin:0 auto;
	position:relative;

	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

.wpcf7-form{
	
}

.contactform_fields{
	display:grid;
	grid-gap: var(--gridGutterWidth);
	grid-template-columns: 1fr 1fr;

	@media (--mobileExtraLarge) {
		grid-template-columns: 1fr;
	}
}

.contactform_field{

	&-half{
	}

	&-full{
		grid-column: 1 / 3;  

		@media (--mobileExtraLarge) {
			grid-column: 1 / 1;  
		} 
	}
}

.contactform_submit{
	margin-top:var(--gridGutterWidth);
	float:right;
	border:none;
	cursor:pointer;
	
}

.contactform_response{
	
}

.invalid,
.failed{
	.wpcf7-response-output{
		font-family:'Fira Sans Semibold';
		text-align: center;
		width:100%;
		padding:calc(var(--gridGutterWidth) * 0.5);
		font-size:1.4rem;
		margin-top:calc(var(--gridGutterWidth) * 1);
		background-color:rgba(204, 95, 44, 0.25);
		color:var(--color3-300);
	}
}

.sent{
	.wpcf7-response-output{
		font-family:'Fira Sans Semibold';
		text-align: center;
		width:100%;
		padding:calc(var(--gridGutterWidth) * 0.5);
		font-size:1.4rem;
		margin-top:calc(var(--gridGutterWidth) * 1);
		background-color:rgba(97, 201, 168, 0.25);
		color:var(--color2-300);	
	}
}
.wpcf7-mail-sent-ok{
	background-color:rgba(97, 201, 168, 0.25);
	color:var(--color2-300);
}

.wpcf7-not-valid-tip{
	font-size:1.4rem;
	color:var(--color3-300);
}

.wpcf7-display-none {
	display: none;
}

.screen-reader-response{
	display:none;
}

.wpcf7 .ajax-loader {
	@mixin debug;
	display: block;
	position: absolute;
	right: 14px;
	width: 22px;
	height: 22px;
	bottom:14px;
	background-color: var(--color1-100);
	opacity:0.5;
	border-radius: 100%;  
	animation: sk-scaleout 1.0s infinite ease-in-out;
	visibility:hidden;
}

.wpcf7 .ajax-loader.is-active {
	visibility: visible;
}


@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.contactform_sep{
	margin:0 auto;
	margin-top:calc(var(--gridGutterWidth) * 4);

	@media (--tabletLarge) {
		margin-top:calc(var(--gridGutterWidth) * 4);
	}

	@media (--tabletSmall) {

	}

	@media (--mobileExtraLarge) {
		display:none;
	}
}