@keyframes showHeader {
    from {
        opacity: 0;
        visibility: visible;
    }
    to {
        opacity: 1;
        visibility: visible;    
    }
}

@keyframes hideHeader {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes hideHeaderFirstmove {
    from {
        opacity: 1;
        visibility: visible;
        transform: translateY(15px);
    }
    to {
        opacity: 0;
        visibility: hidden;
        transform: translateY(0);
    }
}


.header{
	background:linear-gradient(to right, #181a2f 35%, var(--color1-800) 100%);
	height:8.6rem;
	width:100%;
	position:fixed;
	z-index: 6;
	overflow: hidden;
	top:0;

	&:before{
		content:"";
		position:absolute;
		background: linear-gradient(to right, rgba(21, 28, 54, 1) 25%, transparent);
		width:100%;
		left:0;
		top:0;
		bottom:0;
		right:0;
		height:calc(100vh - 8.6rem);
		max-height:calc(768px+8.6rem);		
		z-index: 2;
	}

	&:after{
		content:"";
		position:absolute;
		width:100%;
		left:0;
		top:0;
		bottom:0;
		right:0;
		height:calc(100vh - 8.6rem);
		max-height:calc(768px+8.6rem);		
		background:linear-gradient(to right, transparent 50%, rgba(41, 69, 108, 0.5) 100%);		
	}

	&-hide{
        transform: translateY(0);
        animation-duration: .5s;
        animation-name: hideHeader;
        animation-fill-mode: forwards;
    }

    &-hidefirstmove{
        animation-duration: .5s;
        animation-name: hideHeaderFirstmove;
        animation-fill-mode: forwards;
    }
    
    &-show{
        transform: translateY(0);
        display: block;
        animation-duration: .5s;
        animation-name: showHeader;
    }

	&-open{
		@mixin height100vh;
		z-index: 6;

		&:before,&:after{
			height: 100vh;
			@mixin height100vh;
		}


		.header_container{
			flex-direction:column;
			justify-content:center;
		}

		.header_logo{
			margin-bottom:4.4rem;
			display:none;
		}

		.header_nav_items{
			display:block;
		}		

		.header_nav_item{
			text-align:center;
			display:block;

			&:not(:last-child){
				&:after{
					display:block;
					margin:2.2rem auto;
				}
			}
		}

		.header_nav_link{
			font-size:1.8rem;
		}

		.header_cta{
			display:inline-flex;
			margin-top:6.4rem;
			font-size:1.4rem;
		}

		.header_toggle{
			position:absolute;
			right:2.4rem;
			top:2.1rem;
		}

		.header_toggle_burger{
			display:none;
		}

		.header_toggle_close{
			display:block;
	
		}
	}

	
}

.header_container{
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-between;
	position:relative;
	align-items: center;
	height:100%;
	z-index: 4;
}	

.header_logo{
	display:inline-flex;
	width:160px;
	height:49px;
}

.header_nav{
}

.header_nav_items{
	display:inline-flex;

	@media (--tabletLarge) {
		display:none;
    }
}

.header_nav_item{
	display:flex;
	align-items:center;
	
	&:not(:last-child){
		&:after{
			display:inline-flex;
				content:"";
				width:4px;
				border-radius:50%;
				height:4px;
				background-color: var(--color1-300);
				margin:0 1.75rem;
			
		}
	}
}

.header_nav_link{
	color:var(--color1-300);
	text-transform: uppercase;
	font-family: 'Fira Sans Semibold';
	font-size:1.4rem;
	@mixin photoshopLetterSpacing 60;

	&:hover{
		color:var(--color3-200);
	}

	&-current{
		color:var(--color3-200);
	}
}

.header_cta{
	@media (--tabletLarge) {
		display:none;
    }
}

.header_toggle{
	display:none;

	@media (--tabletLarge) {
		display:block;
    }
}

.header_toggle_burger{

}

.header_toggle_close{
	display:none;
	transform:rotate(45deg);
}