.svg-analyz-dims {
	width: 19px;
	height: 21px;
}

.svg-book-dims {
	width: 17px;
	height: 21px;
}

.svg-checksquare-dims {
	width: 20.207px;
	height: 19px;
}

.svg-dollarsign-dims {
	width: 13px;
	height: 23px;
}

.svg-edit-dims {
	width: 21px;
	height: 21px;
}

.svg-feather-dims {
	width: 21.205px;
	height: 21.215px;
}

.svg-find-dims {
	width: 24px;
	height: 24px;
}

.svg-linkedin-dims {
	width: 20.302px;
	height: 19.229px;
}

.svg-list-dims {
	width: 14px;
	height: 13px;
}

.svg-mail-dims {
	width: 21.393px;
	height: 17px;
}

.svg-moins-dims {
	width: 15px;
	height: 1px;
}

.svg-phone-dims {
	width: 20.89px;
	height: 20.93px;
}

.svg-piechart-dims {
	width: 21.007px;
	height: 21.002px;
}

.svg-plus-dims {
	width: 15px;
	height: 15px;
}

.svg-power-dims {
	width: 19px;
	height: 21.003px;
}

.svg-question-dims {
	width: 10.773px;
	height: 20.755px;
}

.svg-rocket-dims {
	width: 38.135px;
	height: 36.71px;
}

.svg-shuffle-dims {
	width: 18.414px;
	height: 19.414px;
}

.svg-userplus-dims {
	width: 23px;
	height: 19px;
}

