/***
 * Colors:
 */
:root {
    --color1-100: #ffffff;
    --color1-200: #F8F9FB;
    --color1-300: #F6F6F6;  
    --color1-400: #EEEEEE;  
    --color1-500: #AEAEAD;  
    --color1-600: #606060;  
    --color1-700: #303030;  
    --color1-800: #181A2F;  
    --color1-1000: #000000;
    --color2-100: #79BBD6;
    --color2-200: #2B8ECE;
    --color2-300: #29386C;
    --color3-100: #F1C825;
    --color3-200: #EBAC1E;
    --color3-300: #CC5F2C;
}

/**
 * White to black :
 *  `--color1-100 | --color1-1000`
 *
 *     @example
 *     div(style='background-color:#ffffff;') --color1-100 | #ffffff 
 *     div(style='background-color:#F8F9FB;') --color2-100 | #F8F9FB 
 *     div(style='background-color:#F6F6F6;') --color3-100 | #F6F6F6 
 *     div(style='background-color:#EEEEEE;') --color4-100 | #EEEEEE 
 *     div(style='background-color:#AEAEAD;') --color5-100 | #AEAEAD 
 *     div(style='background-color:#606060;') --color6-100 | #606060 
 *     div(style='background-color:#303030;') --color7-100 | #303030 
 *     div(style='background-color:#181A2F;') --color8-100 | #181A2F 
 *     div(style='background-color:#000000; color:white;') --color1-1000 | #000000 
 *
 */

/**
 * Blue's :
 *  `--color2-100 | --color2-1000`
 *
 *     @example
 *     div(style='background-color:#79BBD6;') --color2-100 | #79BBD6 
 *     div(style='background-color:#2B8ECE;') --color2-200 | #2B8ECE 
 *     div(style='background-color:#29386C;') --color2-300 | #29386C 
 *
 */

/**
 * Red's :
 *  `--color3-100 | --color3-1000`
 *
 *     @example
 *     div(style='background-color:#F1C825;') --color3-100 | #F1C825 
 *     div(style='background-color:#EBAC1E;') --color3-200 | #EBAC1E 
 *     div(style='background-color:#CC5F2C;') --color3-300 | #CC5F2C 
 *
 */