/***
 * Fonts:
 */

/**
 * Fira Sans:
 * ` font-family: 'Fira Sans';`
 *
 *     @example
 *     div(style="font-family:'Fira Sans';") Replacer la poésie au cœur du dispositif théâtral.
 */
@font-face {
    font-family: 'Fira Sans';
    src: url('../../src/assets/fonts/FiraSans-Regular.eot');
    src: url('../../src/assets/fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../src/assets/fonts/FiraSans-Regular.woff2') format('woff2'),
        url('../../src/assets/fonts/FiraSans-Regular.woff') format('woff'),
        url('../../src/assets/fonts/FiraSans-Regular.ttf') format('truetype'),
        url('../../src/assets/fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * Fira Sans Semibold:
 * ` font-family: 'Fira Sans Semibold';`
 *
 *     @example
 *     div(style="font-family:'Fira Sans Semibold';") Replacer la poésie au cœur du dispositif théâtral.
 */
@font-face {
    font-family: 'Fira Sans Semibold';
    src: url('../../src/assets/fonts/FiraSans-SemiBold.eot');
    src: url('../../src/assets/fonts/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../src/assets/fonts/FiraSans-SemiBold.woff2') format('woff2'),
        url('../../src/assets/fonts/FiraSans-SemiBold.woff') format('woff'),
        url('../../src/assets/fonts/FiraSans-SemiBold.ttf') format('truetype'),
        url('../../src/assets/fonts/FiraSans-SemiBold.svg#FiraSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

