/***
 * Icons:
 */

 .icon{
	position:relative;
	stroke:var(--color2-200);

	&-hasCircle{
		width:44px;
		height:44px;
		display:flex;

		& > svg{
			margin:auto;
			position: relative;
		}

		&:before{
			content:"";
			position:absolute;
			width:100%;
			height:100%;
			border:1px solid var(--color2-200);
			border-radius:50%;
		}
	}

	&-hasBgWhite{
		&:before{
			background-color: var(--color1-100);
		
		}
	}

	&-isOrange{
		stroke:var(--color3-200);
		&-hasCircle{
			&:before{
				border:1px solid var(--color3-200);
			}
		}
	}
	
	&-isWhite{
		stroke:var(--color1-100);
		&-hasCircle{
			&:before{
				border:1px solid var(--color1-100);
			}
		}
	}

	&-isDarkBlue{
		stroke:var(--color2-300);
		+ .icon-hasCircle{
			&:before{
				border:1px solid var(--color2-300);
			}
		}
	}
 }

/**
 * Icon analyz:
 * `.icon_analyz .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_analyz icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#analyz")
 */
.icon_analyz > svg{
	width: 19px;
	height: 21px;
	margin-left:11px;
}

/**
 * Icon book:
 * `.icon_book .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_book icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#book")
 */
.icon_book > svg{
	width: 17px;
	height: 21px;
}
 
/**
 * Icon checksquare:
 * `.icon_checksquare .icon .icon-isOrange`
 *
 *     @example
 *     div(class="icon icon_checksquare icon-isOrange")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#checksquare")
 */
.icon_checksquare > svg{
	width: 19px;
	height: 21px;
}
 
/**
 * Icon dollarsign:
 * `.icon_dollarsign .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_dollarsign icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#dollarsign")
 */
.icon_dollarsign > svg{
	width: 13px;
	height: 23px;
}
 
 
/**
 * Icon edit:
 * `.icon_edit .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_edit icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#edit")
 */
.icon_edit > svg{
	width: 21px;
	height: 21px;
	margin-left:12px;
}
 
/**
 * Icon feather:
 * `.icon_feather .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_feather icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#feather")
 */
.icon_feather > svg{
	width: 21px;
	height: 21px;
}

/**
 * Icon linkedin:
 * `.icon_linkedin .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_linkedin icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#linkedin")
 */
.icon_linkedin > svg{
	width: 21px;
	height: 18px;
	margin-left:12px;
	margin-top:12px;
}
.icon_lkdin > svg{
	width: 21px;
	height: 18px;
	margin-left:12px;
	margin-top:12px;
}

/**
 * Icon mail:
 * `.icon_mail .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_mail icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#mail")
 */
.icon_mail > svg{
	width: 20px;
	height: 16px;
}
 
/**
 * Icon phone:
 * `.icon_phone .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_phone icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#phone")
 */
.icon_phone > svg{
	width: 20px;
	height: 20px;
}
 
/**
 * Icon piechart:
 * `.icon_piechart .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_piechart icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#piechart")
 */
.icon_piechart > svg{
	width: 21px;
	height: 21px;
}

/**
 * Icon power:
 * `.icon_power .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_power icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#power")
 */
.icon_power > svg{
	width: 19px;
	height: 21px;
}
 
/**
 * Icon question:
 * `.icon_question .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_question icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#question")
 */
.icon_question > svg{
	width: 11px;
	height: 21px;
	margin-left:17px;
}
 
/**
 * Icon rocket:
 * `.icon_rocket .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_rocket icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#rocket")
 */
.icon_rocket > svg{
	width: 38px;
	height: 37px;
	margin-left:-4px;
	margin-top:10px;
}
 
/**
 * Icon shuffle:
 * `.icon_shuffle .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_shuffle icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#shuffle")
 */
.icon_shuffle > svg{
	width: 18px;
	height: 19px;
	margin-top:13px;
}

/**
 * Icon userplus:
 * `.icon_userplus .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_userplus icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#userplus")
 */
.icon_userplus > svg{
	width: 23px;
	height: 19px;
	margin-left:12px;
}

/**
 * Icon burger:
 * `.icon_burger .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_burger icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#list")
 */
.icon_burger > svg{
	width: 14px;
	height: 13px;
}

/**
 * Icon moins:
 * `.icon_moins .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_moins icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#moins")
 */
.icon_moins > svg{
	width: 15px;
	height: 1px;
}
 
 

/**
 * Icon moins:
 * `.icon_moins .icon .icon-isWhite`
 *
 *     @example
 *     div(style="background-color:black;padding:2rem;")
 *      div(class="icon icon_moins icon-isWhite")
 *       svg
 *        use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#moins")
 */
.icon_moins > svg{
	width: 15px;
	height: 1px;
}
 

 /**
 * Icon plus:
 * `.icon_plus .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_plus icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#plus")
 */
.icon_plus > svg{
	width: 15px;
	height: 15px;
}

/**
 * Icon find:
 * `.icon_find .icon .icon-hasCircle`
 *
 *     @example
 *     div(class="icon icon_find icon-hasCircle")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#find")
 */
.icon_find > svg{
	width: 20px;
	height: 20px;
}
 

/**
 * Icon plus:
 * `.icon_plus .icon .icon-isDarkBlue`
 *
 *     @example
 *     div(class="icon icon_plus icon-isDarkBlue")
 *      svg
 *       use(xlink:href="../wp-content/themes/rym/src/assets/svg/sprite.svg#plus")
 */
.icon_plus > svg{
	width: 15px;
	height: 15px;
}
 


/**
 * Logo:
 * `.logo`
 *
 *     @example
 *     div(style="background-color:black;padding:2rem;")
 *      div(class="logo")
 *       svg
 *        use(xlink:href="../wp-content/themes/rym/src/assets/svg/logo.svg#logo")
 */
.logo > svg{ 
	width:160px;
	height:49px;
}

/**
 * logosmall:
 * `.logosmalll`
 *
 *     @example
 *     div(style="background-color:grey;padding:2rem;")
 *      div(class="logosmall")
 *       svg
 *        use(xlink:href="../wp-content/themes/rym/src/assets/svg/logosmall.svg#logosmall")
 */
.logosmall > svg{
	width:66px;
	height:68px;
}
