/***
 * Inline :
 */


/**
 * Paragraphe:
 * `<p>`
 *
 *     @example
 *     p Nous recrutons un panel de 30 à 50 utilisateurs potentiels, spécialement sélectionnés par nos équipes selon des critères précis d'âge, de CSP, niveaux de revenus et géolocalisation.
 *
 */
p{
    &:not(:last-child){
        margin-bottom:2.4rem;
    }
}

strong, bold{
    font-family: 'Fira Sans Semibold';
}

/**
 * Sep:
 * `.sep`
 *
 *     @example
 *     <div class="sep"></div>
 *
 */
.sep{
    width:16rem;
    height:1px;
    background-color:var(--color1-400);
}


/**
 * Borded:
 * `.borded`
 *
 *     @example
 *     <div class="borded">
 *      <image src="../wp-content/themes/rym/src/assets/images/whoweare.jpg">
 *     </div>
 *
 */

 .borded{
    box-shadow: 0 0 0 1px var(--color2-200);
    display: inline-flex;

    > img{
        align-self: flex-start; /*  iOS fix */
        width: 100%; /*  ie 11 fix */
        height:auto; /*  ie 11 fix */
        transform:translate(12px, 12px);
    }

    &-small{
		> img{
     	   transform:translate(8px, 8px);
    	}
    }   
 }