/***
 * Links:
 */


/**
 * Lien 1:
 * `<a href="javascript:;">lorem</a>`
 *
 *     @example
 *     a(href='javascript:;') Que faire si je ne reçois pas mon devis ?​
 */
a{
	color:var(--color2-300);
	text-decoration:none;
	transition: all 0.120s easeOutExpo;

	&:hover{
		text-decoration:none;
		transition: all 0.100s easeOutCirc;
	}
}