/***
 * Title:
 */

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

/**
 * h1:
 * `<h1>` `.h1`
 *
 *     @example
 *     h1 Évaluer le potentiel de marché<br>de votre innovation.
 */
h1, .h1{
	color:var(--color1-800);
    font-size: 3.2rem;
	font-family: 'Fira Sans Semibold';
	@mixin photoshopLineHeight 32,42;

	@media (--tabletLarge) {
		font-size: 3rem;
		@mixin photoshopLineHeight 30,40;
    }
}

/**
 * h2:
 * `<h2>` `.h2`
 *
 *     @example
 *     h2 Reach your Market est un e-service d’étude<br> permettant de sonder rapidement les futurs utilisateurs<br> pour augmenter vos chances de réussite.
 */
h2, .h2{
	color:var(--color1-800);
	font-size: 2rem;
	@mixin photoshopLineHeight 20,30;
}

/**
 * h3:
 * `<h3>` `.h3`
 *
 *     @example
 *     h3 Livraison de l'étude
 */
h3, .h3{
	font-family: 'Fira Sans Semibold';
	color:var(--color1-800);
	font-size: 1.8rem;
	@mixin photoshopLineHeight 18,25;
}

/**
 * h4:
 * `<h4>` `.h4`
 *
 *     @example
 *     h4 Consentement à payer
 */
h4, .h4{
	color:var(--color1-700);
	font-family: 'Fira Sans Semibold';
	font-size: 1.6rem;
	@mixin photoshopLineHeight 18,25;
}