/***
 * Buttons:
 */

/**
 * Button primary:
 * `.button`
 *
 *     @example
 *     a(href='javascript:;' class="button") Obtenir un devis
 */
 /**
 * Button ghost:
 * `.button .button-ghost`
 *
 *     @example
 *     div(style="background-color:black;padding:2rem;")
 *      a(href='javascript:;' class="button button-ghost") Contactez nous
 */
 /**
 * Button ghost small:
 * `.button .button-ghost .button-small`
 *
 *     @example
 *     div(style="background-color:black;padding:2rem;")
 *      a(href='javascript:;' class="button button-ghost button-small") Contactez nous
 */
 .button{
	color:var(--color1-100);
	background-color:var(--color3-300);
	text-transform:uppercase;
	font-size:1.4rem;
	font-family: 'Fira Sans Semibold';
	text-decoration:none;
	padding:1.6rem 4.1rem;
	display:inline-flex;
	justify-content: center;
	align-items:center;
	transition: all .2s easeOutCubic;
	min-width:14.4rem;
	min-height:4.4rem;
	border-radius:27px;
	transition: transform 0.1s easeOutCubic;
	overflow:hidden;
	position:relative;
	@mixin photoshopLetterSpacing 60;

	&:after{
		position:absolute;
		background: var(--color3-100);
		content: "";
		height: 200%;
		left: -50px;
		opacity: 0.2;
		top: -30px;
		transform: rotate(35deg);
		transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
		width:24px;
	}

	&:hover{
		color:var(--color1-100);

		&:after {
			left: 120%;
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}

	&-ghost{
		border:1px solid var(--color2-200);
		background-color:transparent;
		color:var(--color2-200);

		&:after{
			background: var(--color2-100);
		}

		&:hover{
			color:var(--color2-200);
		}
	}

	&-white{
		border:1px solid var(--color1-100);
		color:var(--color1-100);

		&:hover{
			color:var(--color1-100);
		}
	}

	&-small{
		font-size:1.2rem;
		padding:1rem 3.1rem;
	}
}

