/***
 * Form:
 */

/**
 * Input:
 * `.input`
 *
 *     @example
 *     <input class="input" type="text" placeholder="-" />
 */
 /**
 * Select:
 * `.select`
 *
 *     @example
 *     <select class="select" name="animal"><option value="lion">Lion</option><option value="tiger">Tiger</option><option value="leopard">Leopard</option></select>
 */
 /**
 * textarea:
 * `.textarea`
 *
 *     @example
 *     <textarea class="textarea" placeholder="-">
 */
 /**
 * Button:
 * `.button`
 *
 *     @example
 *     <button class="button">Envoyer</button>
 */
 /**
 * Label:
 * `.label`
 *
 *     @example
 *     <label class="label">Nom</label>
 */
.input,.select,.textarea{
	background-color:var(--color1-300);
	border:1px solid var(--color1-400);
	padding:1.45rem 1.8rem;
	font-family:'Fira Sans';
	font-size:1.4rem;
	@mixin photoshopLineHeight 14,20;
	width:100%;

	&::placeholder{
		font-size:1.4rem;
		color:var(--color1-500);
	}
}

.input{
	
}

.select{
	min-width:100%;
}

.textarea{
	min-width:100%;
}

button{
	cursor:pointer;
	appearance:none;
	border:none;
}

.label{
	display:block;
	font-family:'Fira Sans Semibold';
	font-size:1.6rem;
	color:var(--color1-600);	
	margin-bottom:4px;
}
