#cookie-notice{
	font-family:"Fira Sans";
}

.cn-button.wp-default{
	border-radius:27px;
	padding:1rem 2rem;
	font-family:"Fira Sans";
}

.cn-button:hover{
	box-shadow:none;
}

#cn-accept-cookie{
	background-color: #CC5F2C;
	color: #fff;
}

#cn-refuse-cookie{
	background-color: #fff;
	color: #303030;
}

#cn-notice-buttons{
	margin-left:12px;
}

.cookie-notice-container{
	padding: 12px 24px;
}

#cn-more-info{
	color:#CC5F2C;
}