.after{
	@mixin grid 12,11;
	margin:0 auto;
	padding-bottom:calc(var(--gridGutterWidth) * 5);

	@media (--gridPlus) {
		max-width:100%;
		padding-left:calc(var(--gridGutterWidth) * 1);
		padding-right:calc(var(--gridGutterWidth) * 1);
	}

	@media (--tabletLarge) {
		@mixin grid 8,7;
	}

	@media (--tabletSmall) {

	}

	@media (--mobileExtraLarge) {
		
	}

	@media (--mobileLarge) {
	
	}
}

.after_container{
	
}

.after_title,
.after_subtitle{
	text-align: center;	
	@mixin grid 6,5;
	margin:0 auto;
}

.after_title{
	
}

.after_subtitle{
	margin-top:calc(var(--gridGutterWidth) * 0.5);

	@media (--mobileExtraLarge) {
		padding-left:calc(var(--gridGutterWidth) * 1);
		padding-right:calc(var(--gridGutterWidth) * 1);
	}
}

.after_items{
	margin-top:calc(var(--gridGutterWidth) * 3);
	display: grid;
	grid-auto-flow:row;
	/* align-items: start; */
	column-gap:var(--gridGutterWidth);
	row-gap:var(--gridGutterWidth);
	grid-template-columns:repeat(4,1fr);

	@media (--tabletLarge) {
		grid-template-columns:repeat(2,1fr);
	}

	@media (--tabletSmall) {
		margin-top:calc(var(--gridGutterWidth) * 2);		
	}

	@media (--mobileExtraLarge) {
		grid-template-columns:repeat(1,1fr);
		@mixin grid 4,3;
		margin-left:auto;
		margin-right:auto;
	}
}

.after_item{
	box-shadow: 0px 10px 30px rgba(85, 159, 207, 0.15);
	padding-top:calc(var(--gridGutterWidth) * 1.5);
	padding-bottom:calc(var(--gridGutterWidth) * 1.5);
	padding-left:calc(var(--gridGutterWidth) * 1);
	padding-right:calc(var(--gridGutterWidth) * 1);
	text-align:center;
}

.after_item_icon{
	margin-bottom:calc(var(--gridGutterWidth) * 1);

	& > .icon{
		margin:0 auto;
		stroke:var(--color3-200);

		&:before{
			border-color:var(--color3-200);
		}
	}
}

.after_item_title{
	margin-bottom:calc(var(--gridGutterWidth) * 0.25);
}

.after_item_desc{
	font-size:1.4rem;
	@mixin photoshopLineHeight 14,24; 
	color:var(--color1-700);
}