@define-mixin debug $size:1px, $color:red {
	outline: $size solid $color;
}

/* Letter spacing from photoshop */
@define-mixin photoshopLetterSpacing $letterspacing {
    letter-spacing: calc(($(letterspacing) / 1000) * 1em);
}

/* Line height from photoshop */
@define-mixin photoshopLineHeight $font-size, $line-height{
    line-height: calc($(line-height) / $(font-size));
}

/* Read https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
@define-mixin height100vh {
    height: calc(var(--vh, 1vh) * 100);
}

/* Read https://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid */
@define-mixin gridAutoFillSpace{
	&:after{
		content: "";
  		flex: auto;
	}
}

@define-mixin grid $colNumber, $gutterNumber{
	max-width: calc((var(--gridColWidth) * $(colNumber)) + (var(--gridGutterWidth) * $(gutterNumber)));
	width: 100%;
}

/* Read https://ismamz.github.io/postcss-utilities/docs#word-wrap */
@define-mixin word-wrap{
	overflow-wrap: break-word;
	word-break: break-all;
	word-wrap: break-word;
}

/* Read https://codepen.io/raphaelgoetter/pen/KMgBJd?editors=1100 */
@define-mixin autogrid{
	flex: 1;
    min-width: 0; /* avoid min-width:auto */
}