.timeline{

}

.timeline_container{
	@mixin grid 8,7;
	margin:0 auto;
	padding-top:calc(var(--gridGutterWidth) * 4);
	padding-bottom:calc(var(--gridGutterWidth) * 4);

	@media (--tabletLarge) {
		@mixin grid 12,12;
		padding-left:calc(var(--gridGutterWidth) * 2);
		padding-right:calc(var(--gridGutterWidth) * 2);
	}

	@media (--tabletSmall) {
	
	}

	@media (--mobileExtraLarge) {
		@mixin grid 5,4;
	}

	@media (--mobileLarge) {
		
	}
}

.timeline_title{
	text-align: center;
}

.timeline_items{
	margin-top:calc(var(--gridGutterWidth) * 3);
	position:relative;
	display:flex;
	flex-direction:column;

	@media (--mobileExtraLarge) {
		&:before{
			left:0;
		}
	}
}

.timeline_line{
	width: 1px;
	height: 100%;
	background-color:var(--color2-200);
	position: absolute;
	top: 0;
	left: 50%;

	@media (--mobileExtraLarge) {
		left:0;
	}
}

.timeline_start,
.timeline_end{
	margin:0 auto;
	width:4.4rem;
	height:4.4rem;

	& > .icon{
		background-color: var(--color1-100);
	}

	@media (--mobileExtraLarge) {
		margin:0;
		transform:translateX(-50%);
	}
}

.timeline_start{
	margin-bottom:calc(var(--gridGutterWidth) * 4);

	@media (--mobileExtraLarge) {
		margin-bottom:calc(var(--gridGutterWidth) * 3);
	}
}

@keyframes pulsate {
    0% {transform: scale(0.9, 0.9); border-color:rgba(43, 142, 206, 0);}
    25% {border-color:rgba(43, 142, 206, 1);}
    50% {transform: scale(1.2, 1.2); border-color:rgba(43, 142, 206, 0.25);}
    100% {transform: scale(0.9, 0.9); border-color:rgba(43, 142, 206, 0);}
}

.timeline_end{
	margin-top:calc(var(--gridGutterWidth) * 4);

	@media (--mobileExtraLarge) {
		margin-top:calc(var(--gridGutterWidth) * 2);
	}

	.icon_rocket{
		z-index: 1;
		
		&:before{	
			border-color: rgba(43, 142, 206, 1);
			background-color: var(--color1-100);		
			animation: pulsate 1.750s ease-out;
			animation-iteration-count: infinite;
		}

		svg{
			z-index: 1;
		}
	}
}

.timeline_item{
	display:flex;
	width:50%;
	justify-content: space-between;
	position:relative;
	
	&:nth-child(odd){
		align-self:flex-end;

		.borded{
			> img{
				transform:translate(-8px, 8px);
			}
		}

		.timeline_item_image{
			margin-left:12px;			
		}
	}

	&:nth-child(even){
		.timeline_item_icon{
			order:2;
			transform:translateX(50%);
		}
		.timeline_item_content{
			order:1;
		}

		.timeline_item_image{
			margin-right:12px;			
		}

		&:after{
			right:0;
			left:auto;
		}
	}

	&:after{
		content:"";
		position:absolute;
		width:50%;
		height:1px;
		background-image: linear-gradient(to right,  var(--color2-200) 3px, transparent 0%);
		background-position: bottom;
		background-size: 9px 1px;
		background-repeat: repeat-x;
		left:0;
		top:0;
		z-index: -1;
		transform:translateY(15rem);
	}

	@media (--mobileExtraLarge) {
		width:100%;
		margin-bottom:calc(var(--gridGutterWidth) * 3);

		&:nth-child(odd){
			
		}

		&:nth-child(even){

			.timeline_item_image{
				margin-right:auto;		
				margin-left:8px;		
			}
			
			.borded{
				> img{
					transform:translate(-8px, 8px);
				}
			}

			.timeline_item_icon{
				order:1;
				transform:translateX(-50%);
			}
			.timeline_item_content{
				order:2;
			}

			&:after{
				left:0;
				right:auto;
			}
		}
	}
}

.timeline_item_icon{
	margin-top:12rem;
	transform:translateX(-50%);
}

.timeline_icon_background{
	width:5.6rem;
	height:5.6rem;
	border-radius:50%;
	background-color: var(--color1-300);
	border:1px solid var(--color2-200);
	display:flex;
	position: relative;
}

.timeline_icon_day{
	margin:auto;
	z-index: 1;
	text-align:center;
	color:var(--color1-100);
	font-family:'Fira Sans Semibold';
	font-size:1.4rem;

	&:before{
		content:"";
		z-index: -1;
		position:absolute;
		top:50%;
		left:50%;
		width:4.4rem;
		height:4.4rem;
		border-radius:50%;
		background-color: var(--color2-300);
		transform:translate(-50%,-50%);
	}
}

.timeline_item_content{
	@mixin grid 3,2;
	text-align: center;
}

.timeline_item_image{

}

.timeline_item_info{
	margin-top:var(--gridGutterWidth);
}

.timeline_item_title{

}

.timeline_item_desc{

}

.timeline_sep{
	margin:0 auto;
	margin-top:calc(var(--gridGutterWidth) * 4);

	@media (--tabletLarge) {
		margin-top:calc(var(--gridGutterWidth) * 4);
	}

	@media (--tabletSmall) {

	}

	@media (--mobileExtraLarge) {
		display:none;
	}
}