/* Styleguide layout */
.sg{
    display:flex;
    flex-wrap: nowrap;
    width: 100%;

    @media (max-width: 768px){
        flex-wrap: wrap;
    }
}

.dfwp_styleguide_sidebar{
    background-color:lightyellow;
    flex:1 1 auto;
    max-width: 300px;
    padding:2rem;
    height:100vh;
    overflow-y: scroll;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    & > h1{
        font-size: 5rem;
        font-weight:bold;
    }

    & > h2{
        font-size:3rem;
        font-weight:bold;
    }

    @media (max-width: 768px){
        max-width: 100%;
        flex:0 0 100%;
        height:auto;
        overflow-y: auto;
    }
}

.dfwp_styleguide_menu {

    @media (max-width: 768px){
       display:flex;
       flex-direction: column;

       ul{
           display:flex;
           flex-wrap: wrap;
       }

       li:not(:first-child):not(:last-child){
           padding:0 1rem;
       }
    }
}

#dfwp_styleguide_content{
    flex:1 1 auto;
    padding:2rem;

    h2.sg{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin:1rem 1rem 1rem 0; 
        font-size:3rem;
        font-weight:bold;
    }
    
    h3.sg{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:2rem;
        font-weight:bold;

    }
}

.sg-block{
    display:flex;
    justify-content: space-between;

    @media (max-width: 768px){
        flex-direction:column;
    }
}

.sg-text{
    float:none !important;
    flex:0 0 18%;

    @media (max-width: 768px){
        flex:1 1 100%;
        display: flex;
        align-items: first baseline;
    }
}

.sg-example{
    float:none !important;
    flex:0 0 78%;

    @media (max-width: 768px){
        flex:1 1 100%;
    }
}

.sg-section{
	margin:2rem 0;
}

.sg-section-components{
	#components{
		display: none;
	}
	.sg-text{
		display: none;
	}
	.sg-example{
		width: inherit;
		float: none;
	}
}

@media (min-width: 768px){
	.sg-section-components{
		.sg-text + .sg-example, .sg-text + .sg-code{
			width: inherit;
			float: none;
		}
	}
}

/* Pour l'affichage des composants */
.dfwp_styleguide-iscomposant{
    display:block;
}

.sg-expando{

    &:hover{
        &:after{
            content:none;
        }
    }
}