.partners{
	@mixin grid 10,9;
	margin:0 auto;
	padding-bottom:calc(var(--gridGutterWidth) * 4);

	@media (--tabletLarge) {
		@mixin grid 12,12;
		padding-left:calc(var(--gridGutterWidth) * 1);
		padding-right:calc(var(--gridGutterWidth) * 1);
		padding-bottom:calc(var(--gridGutterWidth) * 2);
	}

	@media (--tabletSmall) {

	}

	@media (--mobileExtraLarge) {
		

	}

	@media (--mobileLarge) {
	
	}
}

.partners_container{

}

.partners_title{
	text-align: center;
}

.partners_items{
	margin-top:calc(var(--gridGutterWidth) * 1);
	display: grid;
	grid-auto-flow:row;
	align-items: start;
	column-gap:var(--gridGutterWidth);
	row-gap:var(--gridGutterWidth);
	grid-template-columns:repeat(6,1fr);

	@media (--tabletSmall) {
		grid-template-columns:repeat(3,1fr);
	}

	@media (--mobileLarge) {
		grid-template-columns:repeat(2,1fr);
	}
}

.partners_item{
	display:flex;

	& > img{
		margin:auto;
	}
}

