:root {
	/* Font */
	--defaultFontSize: 1.6rem;
	--defaultFontFamily: 'Fira Sans';

	/* Grid */
	--gridColsNumber   : 12;
	--gridColWidth     : 68px;
	--gridGuttersNumber: 11;
	--gridGutterWidth  : 24px;

	--currentColGrid : 1;
	--currentGutterGrid : 1;
}

/* custom media queries  */
@custom-media --mobileSmall (max-width: 320px);
@custom-media --mobileLarge (max-width: 480px);
@custom-media --mobileExtraLarge (max-width: 620px);
@custom-media --tabletSmall (max-width: 768px);
@custom-media --tabletLarge (max-width: 1024px);
@custom-media --gridPlus (max-width: 1118px); /* 1080px + 20px padding + 20px body border */

html {
	font-size: 62.5%; /* set base font-size to equiv "10px", which is adapted to rem unit */
	font-size: calc(1em * 0.625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

html.sr .load-hidden {
	visibility: hidden;
}

body{
	background-color:var(--color1-100);
	font-family: var(--defaultFontFamily);
	font-size: var(--defaultFontSize);
	color:var(--color1-700);
	@mixin photoshopLineHeight 16,24;
	animation: fadein 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950); ;

	/* Improve font rendering on HiDPI devices (opinionated) */
	@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}	
}


.container{
	margin:0 auto;
	@mixin grid 12,11;

	@media (--gridPlus) {
		padding-left:2.4rem;
		padding-right:2.4rem
	}

	@media (--mobileExtraLarge) {
		/* padding-left:1.8rem;
		padding-right:1.8rem; */
	}
}

.noscroll {
	position: fixed;
	overflow-y: scroll;
}


@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}