.features{
	@mixin grid 10,6;
	margin:0 auto;
	padding-top:14rem;
	padding-bottom:14rem;

	@media (--tabletLarge) {
		padding-top:7.2rem;
		padding-bottom:7.2rem;
	}

	@media (--tabletLarge) {
		padding-left:2.4rem;
		padding-right:2.4rem;
	}

	@media (--mobileExtraLarge) {
		padding-left:4.8rem;
		padding-right:4.8rem;
	}

	@media (--mobileLarge) {
		padding-left:calc(var(--gridGutterWidth) * 1);
		padding-right:calc(var(--gridGutterWidth) * 1);
	}
}

.features_container{
	
}

.features_title{
	text-align:center;
}	

.features_items{
	margin-top:7.5rem;
	display:grid;
	grid-auto-flow:row;
	column-gap:7.2rem;
	row-gap:5rem;
	grid-template-columns:repeat(2,1fr);

	@media (--tabletLarge) {
		margin-top:5.5rem;
		column-gap:4.8rem;
		row-gap:4.8rem;
	}
	
	@media (--tabletSmall) {
		column-gap:3.6rem;
	}

	@media (--mobileExtraLarge) {
		grid-template-columns:repeat(1,1fr);
	}
}

.features_item{
	display:flex;
}

.features_item_icon{
	margin-right:2.4rem;
}

.features_item_desc{

}