.contactway{
	@mixin grid 9,8;
	margin:0 auto;
	padding-bottom:calc(var(--gridGutterWidth) * 4);

	@media (--gridPlus) {
		padding-left:calc(var(--gridGutterWidth) * 1);
		padding-right:calc(var(--gridGutterWidth) * 1);
	}

	@media (--tabletLarge) {
	
	}

	@media (--tabletSmall) {

	}

	@media (--mobileExtraLarge) {
		
	}

	@media (--mobileLarge) {
	
	}
}

.contactway_container{
	
}


.contactway_items{
	margin-top:calc(var(--gridGutterWidth) * 3);
	display: grid;
	grid-auto-flow:row;
	/* align-items: start; */
	column-gap:var(--gridGutterWidth);
	row-gap:var(--gridGutterWidth);
	grid-template-columns:repeat(3,1fr);

	@media (--tabletLarge) {
		
	}

	@media (--tabletSmall) {
		margin-top:calc(var(--gridGutterWidth) * 2);		
	}

	@media (--mobileExtraLarge) {
		grid-template-columns:repeat(2,1fr);
	}

	@media (--mobileLarge) {
		grid-template-columns:repeat(1,1fr);
	}
}

.contactway_item{
	box-shadow: 0px 10px 30px rgba(85, 159, 207, 0.15);
	padding-top:calc(var(--gridGutterWidth) * 1.5);
	padding-bottom:calc(var(--gridGutterWidth) * 1.5);
	padding-left:calc(var(--gridGutterWidth) * 1);
	padding-right:calc(var(--gridGutterWidth) * 1);
	text-align:center;
	position: relative;
}

.contactway_item_icon{
	margin-bottom:calc(var(--gridGutterWidth) * 1);

	& > .icon{
		margin:0 auto;
	}
}

.contactway_item_title{
	margin-bottom:calc(var(--gridGutterWidth) * 0.25);
}

.contactway_item_desc{
	font-size:1.4rem;
	@mixin photoshopLineHeight 14,24; 
	color:var(--color1-700);
}

.contactway_item_link{
	position:static;

	&:before{
		content:"";
		position:absolute;
		z-index: 0;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
}