.footer{
	padding-top:7rem;
	background-color: var(--color1-400);
	padding-bottom:1.2rem;

	@media (--tabletLarge) {
		padding-top:5rem;
	}
}

.footer_container{

}

.footer_logo{
	@mixin grid 5,4;
	text-align: center;
	margin:0 auto;
}

.footer_baseline{
	
}

.footer_cols{
	padding-top:5rem;
	padding-bottom:5rem;
	display:flex;
	justify-content:center;
	align-items:flex-start;
	
	@media (--tabletLarge) {
		padding-top:2.4rem;
		padding-bottom:2.4rem;
    }

	@media (--mobileExtraLarge) {
		padding-top:0;
		@mixin grid 3,2;
		margin:0 auto;
		flex-wrap:wrap;
    }
}

.footer_col{
	@mixin grid 2,1;
	margin:0 2.4rem;
	position:relative;

	&:not(:first-of-type){
		&:before{
			content:"";
			left:-2.4rem;
			top:0;
			position:absolute;
			width:1px;
			height:100%;
			background-color: var(--color1-800);
		}
	}

	@media (--tabletLarge) {
		
    }

	@media (--mobileExtraLarge) {
		margin:2.4rem 0;

		&:not(:first-of-type){
			
			&:before{
				content:"";
				left:0;
				right:0;
				top:-2.4rem;
				position:absolute;
				width:100%;
				height:1px;
				background-color: var(--color1-800);
			}
		}
    }
}

.footer_col_item{

	&:not(:last-child){
		margin-bottom:1.4rem;
	}

	span{
		margin-left:1rem;
	}
}

.footer_item_icon{
	width:1.5rem;
	flex-shrink:0;
	display:flex;
	justify-content:flex-end;

	svg{
		
		margin:0;
		stroke:var(--color1-700);
	}

	&-phone{
		svg{
			margin-top:2px;
			widows: 13px;
			height: 13px;
		}
	}

	&-mail{
		svg{
			margin-top:4px;
			width: 14px;
			height: 11px;
		}
	}

	&-linkedin,&-social{
		svg{
			margin-top:1px;
			width: 15px;
			height: 14px;
		}
	}

	
}

.footer_col_link{
	display:flex;
	align-items:flex-start;
	font-size:1.4rem;
	color:var(--color1-800);

	&:hover{
		color:var(--color3-200);
	}
}

.footer_langs{
	text-align:right;
	color:var(--color1-600);
	font-size:1.4rem;

	@media (--mobileExtraLarge) {
		text-align:center;
	}
}