.testimonials{
	@mixin grid 11,10;
	margin:0 auto;
	padding-bottom:calc(var(--gridGutterWidth) * 4);

	@media (--tabletLarge) {
		max-width:100%;
		padding-left:calc(var(--gridGutterWidth) * 1);
		padding-right:calc(var(--gridGutterWidth) * 1);
	}

	@media (--tabletLarge) {
		@mixin grid 8,7;
	}


	@media (--tabletSmall) {
		
	}

	@media (--mobileExtraLarge) {
		@mixin grid 6,5;
		padding-left:0;
		padding-right:0;
	}

	@media (--mobileLarge) {
	
	}
}

.testimonials_container{

}

.testimonials_title{
	text-align: center;
}

.testimonials_items{
	margin-top:calc(var(--gridGutterWidth) * 3);
	display: grid;
	grid-auto-flow:row;
	align-items: start;
	column-gap:var(--gridGutterWidth);
	row-gap:var(--gridGutterWidth);
	grid-template-columns:repeat(3,1fr);

	@media (--tabletLarge) {
		grid-template-columns:repeat(2,1fr);
	}

	@media (--tabletSmall) {
		margin-top:calc(var(--gridGutterWidth) * 2);
		
	}

	@media (--mobileExtraLarge) {
		grid-template-columns:repeat(1,1fr);
	
	}
}

.testimonials_item{
	box-shadow: 0px 10px 30px rgba(85, 159, 207, 0.15);
	padding-top:calc(var(--gridGutterWidth) * 2);
	padding-bottom:calc(var(--gridGutterWidth) * 2);
	padding-left:calc(var(--gridGutterWidth) * 1);
	padding-right:calc(var(--gridGutterWidth) * 1);
	text-align:center;
}

.testimonials_item_logo{

}

.testimonials_item_desc{
	font-style: italic;
	font-size:1.4rem;
	margin:calc(var(--gridGutterWidth) * 1) auto;
}

.testimonials_item_about{
	
}

.testimonials_item_name{

}

.testimonials_item_position{

}