.getlead{
	background-color: var(--color1-800);
	overflow: hidden;

	&-vague{
		.getleader_illu{
			right:-50%;

			& > svg{
				width:1294px;
				height:532px;
			}

			@media (--tabletSmall) {
				right:-70%;
			}
			@media (--mobileExtraLarge) {
				top:0;
				right:-120%;
			}
		}
	}
	&-batons{
		.getleader_illu{
			right:-30%;

			& > svg{
				width:734px;
				height:452px;
			}

			@media (--tabletLarge) {
				right:-45%;
			}
			@media (--tabletSmall) {
				right:-65%;
			}
			@media (--mobileExtraLarge) {
				top:0;
				right:-90%;
			}
		}
	}
}

.getlead_container{
	@mixin grid 10,9;
	position:relative;
	display:flex;
	align-items:center;
	margin-left:auto;
	margin-right:auto;
	padding-top:11.5rem;
	padding-bottom:11.5rem;

	&:before{
		content:"";
		position: absolute;
		z-index: 1;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, #181a2f 0%, rgba(24, 26, 47, 0) 100%);
	}

	@media (--tabletLarge) {
		padding-top:10.5rem;
		padding-bottom:10.5rem;
		padding-left:4.4rem;
		padding-right:4.4rem;
    }

	@media (--mobileExtraLarge) {
		padding-top:6.5rem;
		padding-bottom:6.5rem;
		flex-direction:column;
		padding-left:calc(var(--gridGutterWidth) * 1);
		padding-right:calc(var(--gridGutterWidth) * 1);
    }
}

.getlead_desc{
	color:var(--color1-100);
	@mixin grid 5,6;
	z-index: 1;
	
	@media (--mobileExtraLarge) {
		text-align: center;
	}
}

.getlead_title{
	color:var(--color1-100);
	margin-bottom:1.2rem;
}

.getlead_subtitle{

}

.getleader_cta{	
	margin-left:var(--gridColWidth);
	z-index: 1;
	flex-shrink:0;

	@media (--tabletSmall) {
		margin-left:4.4rem;
    }

	@media (--mobileExtraLarge) {
		margin-left:0;
		margin-top:3.6rem;
	}
}

.getleader_illu{
	position:absolute;

	@media (--mobileExtraLarge) {
		display:none;
	}
}