.accordion{

}

.accordion_container{
	@mixin grid 10,11;
	margin-bottom:calc(var(--gridGutterWidth) * 4);


	@media (--tabletSmall) {
		margin-bottom:calc(var(--gridGutterWidth) * 3);
	}
}

.accordion_title{
	
}

.accordion_items{
	@mixin grid 10,9;
	margin-top:calc(var(--gridGutterWidth) * 1);
}

.accordion_item{
	display:block;
	cursor: pointer;
	position:relative;
	

	&:not(:last-child){
		margin-bottom:calc(var(--gridGutterWidth) * 0.5);
	}

	&:hover{
		
		.accordion_summary_title{
			background-color:var(--color2-300);
			border-color:var(--color2-300);
			transition: all 0.100s easeOutCubic;

			& > h3{
				transition: all 0.100s easeOutCubic;
				color:var(--color1-100);
			}
		}	
		.icon-isDarkBlue{
			stroke:var(--color1-100);
		}
	}
}

.accordion_item[open]{
	.accordion_summary_open{
		display:none;
	}

	.accordion_summary_title{
		background-color:var(--color2-300);
		border-color:var(--color2-300);

		& > h3{
			color:var(--color1-100);
		}
	}
}

.accordion_summary{
	list-style-type: none; /* Firefox */

	&:focus {
		outline: none;
	}

	&::-webkit-details-marker {/* Chrome */
		display:none;
	}

	&::marker {/* Chrome */
		display:none;
	}
	
}

.accordion_summary_title{
	border-radius: 30px;
	border: 1px solid var(--color1-400);
	padding-top:calc(var(--gridGutterWidth) * 0.7);
	padding-bottom:calc(var(--gridGutterWidth) * 0.7);
	padding-left:calc(var(--gridGutterWidth) * 1);
	transition: all 0.180s easeOutCubic;

	& > h3 {
		max-width:92%;
		transition: all 0.180s easeOutCubic;
	}

	@media (--mobileExtraLarge) {
		& > h3 {
			max-width:87.5%;
		}
	}

	@media (--mobileLarge) {
		& > h3 {
			max-width:85%;
		}
	}
}

.accordion_content{
	cursor: default;
	padding-right:calc(var(--gridGutterWidth) * 1);
	padding-left:calc(var(--gridGutterWidth) * 1);
	padding-top:calc(var(--gridGutterWidth) * 1);
	padding-bottom:calc(var(--gridGutterWidth) * 1);

	& > p{
		@mixin grid 9,8;
	}
}

.accordion_summary_open{

}

.accordion_summary_close{

}

.accordion_summary_open,
.accordion_summary_close{
	position:absolute;
	pointer-events: none;
}
.accordion_summary_open{
	top:2rem;
	right:2.5rem;
}

.accordion_summary_close{
	top:1.3rem;
	right:2.5rem;
}